---

---

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Diese Webseite wurde mit <span class="has-text-danger">&hearts;</span> von
      <a href="/impressum">Tim Deres</a> erstellt.
    </p>
    <a href="https://bulma.io">
      <img
        src="/made-with-bulma.png"
        alt="Made with Bulma"
        width="128"
        height="24"
      />
    </a>
  </div>
</footer>
