---
import { NAVIGATION_ITEMS } from "../../lib/contants";

const CURRENT_ROUTE = Astro.url.pathname;

const isActiveRoute = (route: string): boolean => {
  return CURRENT_ROUTE === route;
};
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand has-text-weight-bold">
      <a class="navbar-item" href="/">Tim Deres</a>
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {
          NAVIGATION_ITEMS.map((item) => (
            <a
              class={`navbar-item ${isActiveRoute(item.route) ? "has-background-primary has-text-white has-text-weight-bold" : ""}`}
              href={item.route}
            >
              {item.label}
            </a>
          ))
        }
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-primary" href="#cv" target="_blank">
            <strong>Lebenslauf</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  /**
   * Opens and closes the navbar menu on small devices.
   *
   * This script needs to be wrapped in a script tag, so it's runs on the client side.
   */
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0,
    );

    // Add a click event on each of them
    $navbarBurgers.forEach((el) => {
      el.addEventListener("click", () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle("is-active");
        $target?.classList.toggle("is-active");
      });
    });
  });
</script>
