---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const allProjects = await getCollection("projects");
---

<Layout>
  <ul>
    {
      allProjects.map((project) => (
        <li>
          <a href={`projekte/${project.data.slug}`}>{project.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
