---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const allProjects = await getCollection("projects");
---

<Layout>
  {
    allProjects.map((project) => (
      <div class="project-card">
        <h2>{project.data.title}</h2>
        <p>{project.data.description}</p>
      </div>
    ))
  }
</Layout>
