---
import Footer from "../components/layout/Footer.astro";
import Navbar from "../components/layout/Navbar.astro";

import "../styles/main.scss";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Tim Deres &ndash; Frontend Web Developer</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
